// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-MyFitnessClass/Pods-MyFitnessClass.release.xcconfig"
#include "Pods/Target Support Files/Pods-MyFitnessClassTests/Pods-MyFitnessClassTests.release.xcconfig"

ENVIRONMENT = Development
DISPLAY_NAME = MyFitnessClass
BASE_URL = https:/$()/prod-baseurl.com
SERVICES_KEY = some-key
