// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-MyFitnessClass/Pods-MyFitnessClass.staging.xcconfig"
#include "Pods/Target Support Files/Pods-MyFitnessClassTests/Pods-MyFitnessClassTests.staging.xcconfig"

ENVIRONMENT = Development
DISPLAY_NAME = MyFitnessClassBeta
BASE_URL = https:/$()/staging-baseurl.com
SERVICES_KEY = some-key
